/*! utd-webcomponents _vUtd_ */
/*====================================================================================================
  -10- Listes à l'intérieur de composants UTD
====================================================================================================*/

[slot="contenu"] ul, .utd-component ul {
  padding-left: 20px;
}

[slot="contenu"] ul:last-child, .utd-component ul:last-child {
  margin-bottom: 0;
}

[slot="contenu"] ul li, .utd-component ul li {
  margin-bottom: 16px;
}

[slot="contenu"] ul li:last-of-type, .utd-component ul li:last-of-type {
  margin-bottom: 0;
}

[slot="contenu"] p:first-of-type, .utd-component p:first-of-type, .contenu p:first-of-type {
  margin-top: 0;
}

[slot="contenu"] p:last-of-type, .utd-component p:last-of-type, .contenu p:last-of-type {
  margin-bottom: 0;
}



/*====================================================================================================*/
/*  -35- Avis 
/*====================================================================================================*/
  .utd-avis {
    display: flex;
    border: 1px solid var(--couleur-filet-secondaire);
    background-color: #fff;
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 32px;
  }

  .utd-avis .zone-icone {
    display: flex;  
    padding: 24px 8px;
  }

  .utd-avis .zone-icone .utd-icone-svg {
      background-size: 100% auto;
      min-width: 24px;
      height: 24px;
  }

  .utd-avis .zone-icone, .utd-avis.information .zone-icone {
      background-color: #D9E6F0;
  }

  .utd-avis.avertissement .zone-icone {
      background-color: #F8E69A;
  }

  .utd-avis.succes .zone-icone {
      background-color: #BCDA9A;
  }

  .utd-avis.erreur .zone-icone {
      background-color: #EDBAB1;
  }

  utd-avis[type="erreur"] [slot="contenu"] ul li a {
    color: var(--couleur-erreur);
  }

  utd-avis[type="erreur"] [slot="contenu"] ul li a:hover, utd-avis[type="erreur"] [slot="contenu"] ul li a:focus {
    text-decoration: none;
  }

  .utd-avis .titre {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'OpenSans-Bold';
    font-size: 14px !important;
}

  .utd-avis .contenu {
      padding: 24px var(--tc-32-24-val) 24px 16px;
      width: 100%;
  }

  
  .utd-avis .contenu :last-child {
      margin-bottom: 0;
  }

/*====================================================================================================
  -40- utd-accordeon
====================================================================================================*/
utd-accordeon {
  display: block;
}

.utd-accordeon .entete button {
  font-family: 'OpenSans-SemiBold';
  font-size: 16px;
  color: var(--couleur-texte-base);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 15px;  
  background-color: var(--couleur-fond-gris);
  border: 1px solid var(--couleur-fond-gris);
}

.utd-accordeon .entete button:hover, .utd-accordeon .entete button:focus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 15px;  
  background-color: var(--couleur-fond-gris);
  border: 1px solid var(--couleur-fond-gris);
}


.utd-accordeon .entete button:hover, .utd-accordeon.ouvert .entete button, .utd-accordeon.ouvert .contenu {
  border: 1px solid #c4c8ce;
}

.utd-accordeon .contenu {
  margin-left: 16px;
  /*  transform:scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease;*/
}

.utd-accordeon.ouvert .contenu {
  margin: 0;
  border-top: 1px solid transparent!important;
  padding: 24px 16px;
  /*transform:scaleY(1);*/
}
.utd-accordeon .entete button:focus {
  outline: 2px solid #89bce5;
  border: 2px solid #5b6476;
  padding: 14px 18px 14px 15px;
  margin-left: -1px;
  margin-bottom: 2px;
}



/* Feuille de style pour les webcomponents utd. Les styles ici s'applique à ce qui est dans le ShadowDOM des components. */

/*====================================================================================================
  -50- utd-infobulle
====================================================================================================*/

.utd-infobulle .texte-lie:hover,
  button:hover {
    cursor: pointer;
}
.utd-infobulle .texte-lie {
    background-color: #e7f1fa;
    padding: 0 2px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--couleur-piv);
    text-underline-offset: 2px;
}

.utd-infobulle .conteneur-tooltip {
    position: relative;
    bottom: 8px;
    left: -4px;
    white-space: nowrap;
}

.utd-infobulle .texte-lie + .conteneur-tooltip {
    bottom: 6px;
    left: -6px;
}

.utd-infobulle button.tooltip-toggle {
    width: 40px;
    height: 16px;
    min-width: 40px;
    min-height: 16px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    position: relative;
    padding: 0 12px;
    top: 4px;
}

.utd-infobulle .texte-lie + .conteneur-tooltip button.tooltip-toggle {
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    padding: 2px 4px;
    margin-right: -10px;
}

.utd-infobulle button.tooltip-toggle .conteneur-puce {
    display: block;
    width: 16px;
}

.utd-infobulle button.tooltip-toggle .puce {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--couleur-piv);
    display: flex;
    justify-content: center;
    align-items: center;
}
.utd-infobulle button.tooltip-toggle .utd-icone-svg {  
  width: 10px;
  height: 10px;
  min-width: 10px;
  margin-left: 0;
}
.utd-infobulle .modale {
    font-family: "OpenSans-Regular", sans-serif;
    display: block !important;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
    border: 1px solid #c5cad2;
    height: auto;
    overflow: hidden;
    z-index: 10000;
    padding-top: var(--tc-24-16-val);
    padding-bottom: var(--tc-24-16-val);
    white-space: normal;
  }

  .utd-infobulle .entete {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    max-width: var(--largeur-max-zone-texte);
    padding-top: 0;
    padding-bottom: 0;
  }

  .utd-infobulle .entete h1 {
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--tc-20-18-val);
    letter-spacing: 0;
    max-width: 58.75rem;
    margin: 0;
    line-height: inherit;
  }

  .utd-infobulle .entete h1:focus {
    outline: 0;
  }

  .utd-infobulle .entete h1:after {
    content: none;
  }

  .utd-infobulle .entete .close {
    line-height: 0;
    padding: 1rem;
    font-size: 1rem;
    opacity: 1;
    background-color: transparent;
    border: 0;
    margin: -1rem -1rem -1rem auto;
  }

  .utd-infobulle .entete .close:hover {
    cursor: pointer;
  }

  .utd-infobulle .conteneur-corps {
    max-width: var(--largeur-max-zone-texte);
    border: 0;
    line-height: 1.5rem;
    margin: var(--tc-24-16-val) auto 0 auto !important;
    overflow-y: auto;
    display: block;
  }

  .utd-infobulle .corps {
    display: block;
    padding: 0 1.5rem 0 0;
    max-height: calc(33.33333vh - (var(--tc-24-16-val) * 3) - 30px);
    overflow-y: auto;
    font-size: 1rem;
  }

  .utd-infobulle .corps h2, .utd-infobulle .corps h3, .utd-infobulle .corps h4, .utd-infobulle .corps h5, .utd-infobulle .corps h6 {
    font-size: 1rem;
  }

  .utd-infobulle .corps :is(h2, h3, h4, h5, h6) {
    font-size: 1rem;
    line-height: inherit;
    margin-top: 2rem;
  }

  .utd-infobulle .corps h2 {
    font-size: var(--tc-18-16-val);
  }

  .utd-infobulle .corps :is(h2, h3, h4, h5, h6):first-child {
    margin-top: 0;
  }

  /* Scrollbar aide contextuelle */
.utd-infobulle .corps::-webkit-scrollbar,
.utd-infobulle .corps::-webkit-scrollbar-thumb,
.utd-infobulle .corps::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0.3125rem;
    height: 50%;
    width: 0.625rem;
    margin-top: 8px;
}

.utd-infobulle .corps::-webkit-scrollbar-button,
.utd-infobulle .corps::-webkit-scrollbar-track-piece,
.utd-infobulle .corps::-webkit-scrollbar-corner,
.utd-infobulle .corps::-webkit-resizer {
    display: none;
}

.utd-infobulle .corps::-webkit-scrollbar-thumb {
    background-color: var(--couleur-bleu-pale);
    transition: all 0.35s;
}

/*====================================================================================================
  -60- utd-dialog
====================================================================================================*/

.utd-dialog {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index:10000;
}

.utd-dialog .conteneur {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  position: relative;
  width: auto;
  padding: 0 32px;
  box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
  border: 1px solid #c5cad2;
  background-color: #fff;
  margin: 2rem auto;
}

.utd-dialog .principal {
  padding: 0 0 32px 0;
  width: 100%;
}

.utd-dialog .entete {
  position: relative;
  display: flex;
  align-items: center;
  max-width: var(--largeur-max-zone-texte);
  margin-bottom: 24px;
}

.utd-dialog .entete .utd-icone-svg {
  margin-right: 16px;
}

.utd-dialog .entete h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: var(--tc-24-20-val);
  line-height: 1.2;
  margin: 0;
}

.utd-dialog .entete.avec-type h1::after {
  content: none!important;
}

.utd-dialog .entete h1:focus {
  outline: 0;
}

.utd-dialog .pied {
  margin-top: 24px;
}

.utd-dialog .close {
  display: flex;
  line-height: 0;
  padding: 1rem;
  font-size: 1rem;
  opacity: 1;
  background-color: transparent;
  border: 0;
  margin: 0 -2rem -1rem auto;
}

.utd-dialog .close:hover {
  cursor: pointer;
}

.utd-dialog .corps {
/*    overflow-y: auto;*/
  font-size: 1rem;
}

.utd-dialog.fenetre-message .corps {
  line-height: 1.5rem;
}

.utd-dialog .pied {
  display: flex;
  justify-content: end;  
}

@media (max-width: 425px) {
  .utd-dialog .pied {
      flex-direction: column;
  }
} 
  
@media (max-width: 525px) {
  .utd-dialog.boutons-texte-long .pied {
    flex-direction: column;
  }
} 
   

/* Slots */
utd-dialog [slot="pied"] > button {
  margin-right: 32px;
}

utd-dialog [slot="pied"] > button:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {

  utd-dialog [slot="pied"] button {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
  }

  utd-dialog [slot="pied"] button:last-of-type {
      margin-bottom: 0;
  }
}

/*Particularité pour les boutons avec un texte long (permet de les afficher plus tôt 525px en colonne au lieu de 425px)*/
@media (max-width: 525px) {

  utd-dialog[estboutonstextelong="true"] [slot="pied"] button {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
  }

  utd-dialog[estboutonstextelong="true"] [slot="pied"] button:last-of-type {
      margin-bottom: 0;
  }
}


/*====================================================================================================
  -70- utd-notifications
====================================================================================================*/
.utd-notifications {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  position: fixed;
  bottom: 32px;
  right: 0;
  padding: 0 32px;
  z-index: 1111;  
  width: 100%;
  max-width: 408px;
}

html[retourhautpagevisible="true"] .utd-notifications {
  bottom: 162px;
}

@media (max-width: 768px) {
  html[retourhautpagevisible="true"] .utd-notifications {
    bottom: 146px;
  }
}

@media (max-width: 768px) {
  .utd-notifications {
    bottom: 16px;
    padding: 0 16px;
    max-width: 376px;
  }
} 


.utd-notifications .notification {
  position: relative;
  font-size: inherit;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  opacity: 0;
  margin-bottom: 16px;
  box-shadow: 0 3px 6px 0 rgba(34, 54, 84, 0.16);
  color: #fff;
  width: 100%;
}

.utd-notifications .notification:last-of-type {
  margin-bottom: 0;
}

.utd-notifications .notification.visible {
  opacity: 1;
}

.utd-notifications .notification.positif {
  background-color: var(--couleur-succes);
}

.utd-notifications .notification.negatif {
  background-color: var(--couleur-erreur);
}

.utd-notifications .notification.neutre {
  background-color: var(--couleur-piv);
}

.utd-notifications .notification button {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 0;
  width: auto;
  height: auto;
  line-height: 0;
  padding: 18px 16px 16px 16px;
  font-size: 1rem;
  opacity: 1;
  background-color: transparent;
  border: 0;
}

.utd-notifications .notification .titre {
  font-family: 'OpenSans-Bold';
  margin-right: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.utd-notifications .notification .titre .utd-icone-svg {
  margin-right:8px;
}

/*.utd-notifications .notification .utd-icone-svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(93%) saturate(29%) hue-rotate(42deg) brightness(108%) contrast(107%);
}*/

.utd-notifications .notification .message p:first-child {
  margin-top: 0;
}

.utd-notifications .notification .message p:last-child {
  margin-bottom: 0;
}

.utd-notifications .notification.sans-titre .message {
  margin-right: 24px;
}


/*====================================================================================================
  -80- utd-hautpage
====================================================================================================*/
utd-hautpage {
  position: fixed;
  bottom: 90px;
  right: 32px;
  z-index: 9999;
}

.utd-hautpage {
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -ms-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
  opacity: 0;
}

.utd-hautpage.visible {
  opacity: 1;
}

.utd-hautpage button {
/*  display: none;*/
  z-index: 99;
  width: 40px;
  height: 40px;
  min-width: inherit;
  padding: 0px;
}

html.utd-modale-ouverte utd-hautpage {
  right: 49px;
}


@media (max-width: 768px) {
  utd-hautpage {
      right: 16px;
  }

  html.utd-modale-ouverte utd-hautpage {
    right: 33px;
  }
} 

.utd-hautpage .utd-icone-svg {
  min-width: 25px;
  width: 25px;
  height: 21px;
}

.utd-hautpage .contenu {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
