/*====================================================================================================
  -40- utd-accordeon
====================================================================================================*/
utd-accordeon {
    display: block;
    max-height: 54px;
    min-height: 54px;
    visibility: hidden;

    &.mounted{
        max-height: inherit;
        min-height: inherit;
        visibility: visible;    
    }

    & + utd-accordeon{
        margin-top: 16px;
    }
}
 

.utd-accordeon .entete button:hover, .utd-accordeon.ouvert .entete button, .utd-accordeon.ouvert .contenu {
    border: 1px solid #c5cad2;
}


.utd-accordeon .entete h2.titre, utd-accordeon [slot="titre"] h2, .utd-accordeon .entete h3.titre, utd-accordeon [slot="titre"] h3, .utd-accordeon .entete h4.titre, utd-accordeon [slot="titre"] h4, .utd-accordeon .entete h5.titre, utd-accordeon [slot="titre"] h5, .utd-accordeon .entete h6.titre, utd-accordeon [slot="titre"] h6 {
    font-family: OpenSans-SemiBold;
    font-size: 16px;
    margin: 0;
}


.utd-accordeon {
    & .utd-icone-svg.plus, & .utd-icone-svg.moins {
        min-width: 16px;
        height: 16px;
    }

    & .entete button {
        font-family: 'OpenSans-SemiBold';
        font-size: 16px;
        color: var(--couleur-texte-base);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;  
        background-color: var(--couleur-fond-gris);
        border: 1px solid var(--couleur-fond-gris);
        margin: 0;

        &:focus {
            outline: 2px solid var(--bleu-clair);
            border: 2px solid #5b6476;
            padding: 14px 14px 14px 14px;  
        }    

        & .titre {
            text-align: left;
            margin-right: 16px;
            display: flex;
            align-items: center;

            & .utd-icone-svg {
                margin-right: 8px;
                min-width: 24px;
                height: 24px;
            
                &.avertissement {
                    height: 23px;
                }
            }

        }                
    }
   
    & .contenu {
        border: 1px solid transparent;

        & .conteneur {
            padding: 24px 16px;
        }    
    }

    &.ouvert .contenu {
        background-color: #fff;
    } 
    
    &.avertissement .entete button {
        background-color: var(--jaune-pale);
    }

    &.information .entete button {
        background-color: var(--bleu-pale);
    }

    &.succes .entete button {
        background-color: var(--vert-pale);
    }

    &.erreur .entete button {
        background-color: var(--rose-pale);
    }


}


  