/*====================================================================================================
/*  Liste déroulante
/*====================================================================================================*/
.utd-liste-deroulante {
    position: relative;

    &.sm{
        .conteneur{
            width: 156px;
        }
    }
    &.md{
        .conteneur{
            width: 342px;
        }
    }
    &.lg{
        .conteneur{
            width: 528px;
        }
    }
    &:not(.multiple){
        .conteneur .resultats ul li[aria-selected="true"]{
            background-color: var(--bleu);
            color: #fff;
        }        
    }
    .conteneur {

        &.utd-form-control{
            height: auto;
            padding: 0;
        }

        &:not(.ouvert) .selection .utd-icone-svg {            
            transform: rotate(-180deg);
        }

        .selection {
            position: relative;
            cursor: pointer;
            padding: 8px 32px 8px 8px;
            display: block;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            .utd-icone-svg {
                position: absolute;
                top: 15px;
                right: 8px;
            }
        }
        .conteneur-recherche {
            display: block;
            padding: 0 8px;
        }

        .recherche {
            margin-top:16px;
        }
        .resultats {
            display: block;
            padding: 0;
            margin-top: 8px;
            max-height: 330px;
            overflow-y: auto;
            overflow-x: hidden;

            &.recherchable{
                max-height: 290px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    padding: 8px;
                    margin: 0;

                    &:hover{
                        cursor: pointer;
                    }                    

                    &.focus, &:hover{
                        background-color: var(--bleu-pale);
                        color: var(--couleur-texte-base);
                    }
                }
            }


        }
    
    }
    
}


