/*====================================================================================================
/*  Liste déroulante
/*====================================================================================================*/
.utd-liste-deroulante {
    position: relative;

    &.sm{
        .conteneur{
            width: 156px;
        }
    }
    &.md{
        .conteneur{
            width: 342px;
        }
    }
    &.lg{
        .conteneur{
            width: 528px;
        }
    }
    &:not(.multiple){
        .conteneur .resultats ul li[aria-selected="true"]{
            background-color: var(--bleu);
            color: #fff;
        }        
    }
    .conteneur {

        &.utd-form-control{
            height: auto;
            padding: 0;
        }

        &:not(.ouvert) .selection .utd-icone-svg.developper {            
            transform: rotate(-180deg);
        }

        .selection {
            position: relative;
            cursor: pointer;
            padding: 8px 32px 8px 8px;
            display: block;

            &.contient-etiquettes {
                padding: 4px 32px 4px 8px;
                margin-bottom: -8px;

            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
            }
            
            li {
                margin-bottom: 8px;
                margin-right: 8px;

                &:hover{
                    cursor:default;
                }
            }

            .utd-icone-svg.developper {
                position: absolute;
                top: 15px;
                right: 8px;
            }


            /*TODO déplacer composant étiquette*/
            .etiquette {
                position: relative;
                display: flex;
                background-color: var(--bleu-pale);
                color: var(--bleu-piv);
                font-family: OpenSans-SemiBold;
                font-size: var(--utd-text-sm);
                line-height: 1.2;
                padding: 7.5px 2px 7.5px 8px; /*DESIGN_QC ici on triche par rapport à design qc pour arriver au résultat */

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -4px;
                    margin-bottom: -4px;
                    width: 24px;
                    height: 24px;
                    border: 0;
                    background-color: transparent;
                    padding: 0;

                    &:hover{
                        border: 1px solid #6991D1;/*DESIGN_QC code de couleur selon leurs specs du composant étiquette mais n'existe pas dans leurs codes de couleurs */
                    }
                    &:focus{
                        outline: 0;
                        border: 2px solid #6991D1;/*DESIGN_QC code de couleur selon leurs specs du composant étiquette mais n'existe pas dans leurs codes de couleurs */
                    }

                    .utd-icone-svg.x-fermer-bleu{
                        width: 12px;
                        height: 12px; 
                        min-width: 12px;
                    }
                }
            }

        }
        .conteneur-recherche {
            display: block;
            padding: 0 8px;
        }

        .recherche {
            margin-top:8px;
        }
        .resultats {
            display: block;
            padding: 0;
            margin-top: 8px;
            max-height: 330px;
            overflow-y: auto;
            overflow-x: hidden;

            &.recherchable{
                max-height: 290px;
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li{
                    display: flex;
                    align-items:flex-start;
                    padding: 8px;
                    margin: 0;

                    &:hover{
                        cursor: pointer;
                    }                    

                    &.focus, &:hover{
                        background-color: var(--bleu-pale)!important;
                        color: var(--couleur-texte-base)!important;
                    }

                    .utd-checkbox {
                        display: block;
                        position: relative;
                        margin: 4px 8px 0 0;              
                        &::before{
                            content: "";
                            display:block;
                            width: 16px;
                            height: 16px;
                            border: 1px solid var(--couleur-texte-base);          
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 1px;
                            width: 14px;
                            height: 14px;
                            transform: scale(0);
                            transition: 120ms transform ease-in-out;
                            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
                            mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M8.76,56.2c-6.38-6.34,3.26-16,9.64-9.69L38,65.88,80.56,23.29c6.38-6.38,16.07,3.32,9.69,9.69L42.84,80.37a6.83,6.83,0,0,1-9.65,0Z"/></svg>');
                            background-color: #fff;                        
                        }
                    }

                    &[aria-selected="true"]{
                        .utd-checkbox::before {
                            background-color: var(--couleur-bleu);
                            border-color: var(--couleur-bleu);
                        }

                        .utd-checkbox::after {
                            transform: scale(1);                            
                        }        
                    }
   
                }
            }


        }
    
    }
    
}


