
.qc-notice {
  display: flex;
  word-break: break-word;

  .icon-container {
    display: flex;  

    .qc-icon {
      background-size: 100% auto;
    }    
  }

  &.qc-information .icon-container {
    background-color: blue;
  }  

  /*TODO Quelle est la marge entre le titre et le texte? Rien de spécifié dans le SDG. */
  .title {
    padding: 0;
  }

  .content {
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }
  }
}

