/*====================================================================================================
  -00- Variables
====================================================================================================*/

:root {
    /* Tailles calculées */
    --tc-8-4: 0.5rem;
    /*8px*/
    --tc-8-4-ecart: 4;
    /*min 4px max 8px*/
    --tc-8-4-ecart-px: calc(var(--tc-8-4-ecart) * 1px);
    --tc-14-12: 0.875rem;
    /*14px*/
    --tc-14-12-ecart: 2;
    /*min 12px max 14px*/
    --tc-14-12-ecart-px: calc(var(--tc-14-12-ecart) * 1px);
    --tc-16-4: 1rem;
    /*16px*/
    --tc-16-4-ecart: 12;
    /*min 4px max 16px*/
    --tc-16-4-ecart-px: calc(var(--tc-16-4-ecart) * 1px);
    --tc-16-8: 1rem;
    /*16px*/
    --tc-16-8-ecart: 8;
    /*min 8px max 16px*/
    --tc-16-8-ecart-px: calc(var(--tc-16-8-ecart) * 1px);

    /*max 18px min 14px*/
    --tc-18-14: 1.125rem;/*18px*/    
    --tc-18-14-ecart: 4;
    --tc-18-14-ecart-px: calc(var(--tc-18-14-ecart) * 1px);
    
    /*max 18px min 16px*/
    --tc-18-16: 1.125rem;/*18px*/    
    --tc-18-16-ecart: 2;
    --tc-18-16-ecart-px: calc(var(--tc-18-16-ecart) * 1px);

    /*max 20px min 16px*/
    --tc-20-16: 1.25rem;/*20px*/    
    --tc-20-16-ecart: 4;
    --tc-20-16-ecart-px: calc(var(--tc-20-16-ecart) * 1px);
    
    /*max 24px min 12px*/
    --tc-24-12: 1.5rem;/*24px*/    
    --tc-24-12-ecart: 12;
    --tc-24-12-ecart-px: calc(var(--tc-24-12-ecart) * 1px);

    /*max 24px min 16px*/
    --tc-24-16: 1.5rem; /*24px*/    
    --tc-24-16-ecart: 8;
    --tc-24-16-ecart-px: calc(var(--tc-24-16-ecart) * 1px);

    /*max 24px min 20px*/
    --tc-24-20: 1.5rem; /*24px*/
    --tc-24-20-ecart: 4;
    --tc-24-20-ecart-px: calc(var(--tc-24-20-ecart) * 1px);

    /*max 30px min 24px*/
    --tc-30-24: 1.875rem; /*30px*/
    --tc-30-24-ecart: 6;
    --tc-30-24-ecart-px: calc(var(--tc-30-24-ecart) * 1px);
    
    /*max 32px min 16px*/
    --tc-32-16: 2rem; /*32px*/
    --tc-32-16-ecart: 16;
    --tc-32-16-ecart-px: calc(var(--tc-32-16-ecart) * 1px);

    /*max 32px min 24px*/
    --tc-32-24: 2rem; /*32px*/
    --tc-32-24-ecart: 8;
    --tc-32-24-ecart-px: calc(var(--tc-32-24-ecart) * 1px);

    /*max 36px min 28px*/
    --tc-36-28: 2.25rem; /*36px*/
    --tc-36-28-ecart: 8;
    --tc-36-28-ecart-px: calc(var(--tc-36-28-ecart) * 1px);

    /*max 44px min 32px*/
    --tc-44-32: 3rem; /*44px*/
    --tc-44-32-ecart: 12;
    --tc-44-32-ecart-px: calc(var(--tc-44-32-ecart) * 1px);
    
    /*max 48px min 36px*/
    --tc-48-36: 3rem; /*48px*/
    --tc-48-36-ecart: 12;
    --tc-48-36-ecart-px: calc(var(--tc-48-36-ecart) * 1px);

    /*max 48px min 40px*/
    --tc-48-40: 3rem; /*48px*/
    --tc-48-40-ecart: 8;
    --tc-48-40-ecart-px: calc(var(--tc-48-40-ecart) * 1px);

    /*max 56px min 42px*/
    --tc-56-42: 3.5rem; /*56px*/
    --tc-56-42-ecart: 14;
    --tc-56-42-ecart-px: calc(var(--tc-56-42-ecart) * 1px);
    
    /*max 80px min 72px*/
    --tc-80-72: 5rem; /*80px*/
    --tc-80-72-ecart: 8;
    --tc-80-72-ecart-px: calc(var(--tc-80-72-ecart) * 1px);


    --tc-8-4-val: var(--tc-8-4);
    --tc-14-12-val: var(--tc-14-12);
    --tc-16-4-val: var(--tc-16-4);
    --tc-16-8-val: var(--tc-16-8);
    --tc-18-14-val: var(--tc-18-14);
    --tc-18-16-val: var(--tc-18-16);
    --tc-20-16-val: var(--tc-20-16);
    --tc-24-12-val: var(--tc-24-12);
    --tc-24-16-val: var(--tc-24-16);
    --tc-24-20-val: var(--tc-24-20);
    --tc-30-24-val: var(--tc-30-24);
    --tc-32-16-val: var(--tc-32-16);
    --tc-32-24-val: var(--tc-32-24);
    --tc-36-28-val: var(--tc-36-28);
    --tc-44-32-val: var(--tc-44-32);
    --tc-48-36-val: var(--tc-48-36);
    --tc-48-40-val: var(--tc-48-40);
    --tc-56-42-val: var(--tc-56-42);
    --tc-80-72-val: var(--tc-80-72);

    --position-retour-haut-page: 30px;
    --position-retour-haut-page-ecart: 15;

    /*max 30px min 15px*/
    --position-retour-haut-page-ecart-px: calc(var(--position-retour-haut-page-ecart) * 1px);
    --ratio-vw: calc((100vw - 325px) / (1152 - 325));
    --ratio-vw-piv-signature: calc((100vw - 325px) / (568 - 325));
    --largeur-logo-piv-gouv-entete: 256px;
    --largeur-logo-piv-gouv-entete-ecart: 106;
    --largeur-logo-piv-gouv-entete-ecart-px: calc(var(--largeur-logo-piv-gouv-entete-ecart) * 1px);
    --hauteur-fixe-footer-desktop: 210px;
    --hauteur-fixe-footer-mobile: 270px;
    --utd-container-padding: 0 16px;
    --largeur-max-zone-texte: 736px;
    --couleur-fond-gris: #F2F1F1;
    --couleur-piv: #095797;
    --couleur-bleu: #1479CC;
    --couleur-liens: #095797;
    --couleur-loader: #1073E6;
    --couleur-bouton-primaire: #095797;
    --couleur-bleu-pale: #DAE6F0;
    --couleur-orange: #cf4b00;
    --couleur-saumon: #F09686;
    --couleur-primaire-entete-soulignee: var(--couleur-saumon);
    --couleur-texte-base: #223654;
    --couleur-texte-gris-pale: #6A778A;
    --couleur-erreur: #cb381f;
    --couleur-rouge-fonce: #B52E16;
    --couleur-succes: #4f813d;
    --couleur-avertissement: #ffcc00;
    --couleur-hover: #ecf2f7;
    --couleur-filet-secondaire: #c5cad2;
}


/*====================================================================================================
  -01- Fonts
/*====================================================================================================*/


/* On utilise volontairement uniquement le format WOFF afin d'éviter le chargement du WOFF2 qui se fait aussi dans Chrome pour une raison inconnue (on se retrouve donc à faire le double de requêtes HTTP)*/


/* open-sans-regular - latin */

@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* open-sans-600 - latin */

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/fonts/open-sans-v18-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* open-sans-700 - latin */

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/open-sans-v18-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Roboto - latin  non utilisé pour le moment */


@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-500 - latin */
/*
@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/roboto-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ 
}*/


/* roboto-700 - latin */
/*
@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/roboto-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ 
}*/


/*====================================================================================================
  -02- Tailles adaptatives                                                                                  
====================================================================================================*/

@media screen and (max-width: 324px) {
     :root {
        --tc-8-4-val: calc(var(--tc-8-4) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) - var(--tc-18-16-ecart-px));
        --tc-20-16-val: calc(var(--tc-20-16) - var(--tc-20-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) - var(--tc-24-16-ecart-px));
        --tc-24-20-val: calc(var(--tc-24-20) - var(--tc-24-20-ecart-px));
        --tc-30-24-val: calc(var(--tc-30-24) - var(--tc-30-24-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) - var(--tc-32-24-ecart-px));
        --tc-36-28-val: calc(var(--tc-36-28) - var(--tc-36-28-ecart-px));
        --tc-44-32-val: calc(var(--tc-44-32) - var(--tc-44-32-ecart-px));
        --tc-48-36-val: calc(var(--tc-48-36) - var(--tc-48-36-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) - var(--tc-48-40-ecart-px));
        --tc-56-42-val: calc(var(--tc-56-42) - var(--tc-56-42-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) - var(--tc-80-72-ecart-px));
    }
    #flecheHaut {
        right: calc(var(--position-retour-haut-page) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}

@media all and (min-width: 325px) and (max-width: 1151px) {
     :root {
        --tc-8-4-val: calc(var(--tc-8-4) + (var(--ratio-vw) * var(--tc-8-4-ecart)) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) + (var(--ratio-vw) * var(--tc-14-12-ecart)) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) + (var(--ratio-vw) * var(--tc-16-4-ecart)) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) + (var(--ratio-vw) * var(--tc-16-8-ecart)) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) + (var(--ratio-vw) * var(--tc-18-14-ecart)) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) + (var(--ratio-vw) * var(--tc-18-16-ecart)) - var(--tc-18-16-ecart-px));
        --tc-20-16-val: calc(var(--tc-20-16) + (var(--ratio-vw) * var(--tc-20-16-ecart)) - var(--tc-20-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) + (var(--ratio-vw) * var(--tc-24-12-ecart)) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) + (var(--ratio-vw) * var(--tc-24-16-ecart)) - var(--tc-24-16-ecart-px));
        --tc-24-20-val: calc(var(--tc-24-20) + (var(--ratio-vw) * var(--tc-24-20-ecart)) - var(--tc-24-20-ecart-px));
        --tc-30-24-val: calc(var(--tc-30-24) + (var(--ratio-vw) * var(--tc-30-24-ecart)) - var(--tc-30-24-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) + (var(--ratio-vw) * var(--tc-32-16-ecart)) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) + (var(--ratio-vw) * var(--tc-32-24-ecart)) - var(--tc-32-24-ecart-px));
        --tc-36-28-val: calc(var(--tc-36-28) + (var(--ratio-vw) * var(--tc-36-28-ecart)) - var(--tc-36-28-ecart-px));
        --tc-44-32-val: calc(var(--tc-44-32) + (var(--ratio-vw) * var(--tc-44-32-ecart)) - var(--tc-44-32-ecart-px));
        --tc-48-36-val: calc(var(--tc-48-36) + (var(--ratio-vw) * var(--tc-48-36-ecart)) - var(--tc-48-36-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) + (var(--ratio-vw) * var(--tc-48-40-ecart)) - var(--tc-48-40-ecart-px));
        --tc-56-42-val: calc(var(--tc-56-42) + (var(--ratio-vw) * var(--tc-56-42-ecart)) - var(--tc-56-42-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) + (var(--ratio-vw) * var(--tc-80-72-ecart)) - var(--tc-80-72-ecart-px));
    }
    #flecheHaut {
        right: calc(var(--position-retour-haut-page) + (var(--ratio-vw) * var(--position-retour-haut-page-ecart)) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}

@media screen and (min-width: 1152px) {
    #flecheHaut {
        right: var(--position-retour-haut-page);
    }
}


.espaceur-conteneurs {
    height: var(--tc-48-40-val);
}

/*====================================================================================================
  -03- Headers
====================================================================================================*/
/* TODO obtenir les marges officielles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--couleur-texte-base);
}


h1 {
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 0;
    font-size: var(--tc-48-36-val);
    line-height: var(--tc-48-36-val);
}

/* Bordure sous les H1 */
h1:not(.modal-title)::after {
    content: "";
    display: block;
    margin: 0;
    width: 4.8rem;
    padding-top: 0.4rem;
    border-bottom: 4px solid var(--couleur-saumon);
}


h2 {
    margin-top: 2.5rem;
    margin-bottom: 0.7rem;
    font-size: var(--tc-36-28-val);
    line-height: var(--tc-44-32-val);
}


h3 {
    margin-top: 2.7rem;
    font-size: var(--tc-32-24-val);
    font-weight: 500;
    line-height: var(--tc-36-28-val);
}

h4 {
    font-size: var(--tc-24-20-val);
    line-height: var(--tc-36-28-val);
}

h5 {
    font-size: var(--tc-20-16-val);
    line-height: var(--tc-30-24-val);
}

h6 {
    font-size: 1rem;
    line-height: 24px;
}

/* TODO ajouter headers applicatifs */

/*====================================================================================================
  -10- Général                                                                                      
/*====================================================================================================*/
*,
::after,
::before {
    box-sizing: border-box
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'OpenSans', sans-serif;
    background-color: #fff;
    font-weight: 400;
    line-height: 1.5;
    color: var(--couleur-texte-base);
    margin: 0;
    padding: 0;
}


/* Pas de margin sur un dernier paragraphe */
p:last-child {
    margin-bottom: 0!important;
}

.d-none {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.utd-backdrop {
    /*Backdrop*/
    opacity: 0.5;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-24 {
    margin-bottom: 24px;
}
.mt-16 {
    margin-top: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}
.mt-8 {
    margin-top: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}



/*====================================================================================================
  -12- Boutons
====================================================================================================*/
.utd-btn {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    box-sizing: border-box;
    min-width: 112px;
    padding: 14px 22px;
    transition: all 0.24s ease-in-out;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 0;
          /* si Arrondi border-radius: 4px; */
}

.utd-btn[disabled]{
    pointer-events: none;
}

.utd-btn.compact {
    font-weight: 600;
    min-width: 48px;
    padding: 7px 15px;
    border: 1px solid transparent;
    font-family: 'OpenSans-SemiBold';
}

.utd-btn.arrondi {
    border-radius: 4px;
}

.utd-btn.avec-icone-droite, .utd-btn.avec-icone-gauche {
    display: flex;
    align-items: center;
}
.utd-btn.avec-icone-droite > *:nth-child(2), .utd-btn.avec-icone-gauche > *:nth-child(2){
    margin-left: 4px;
}
/* ==================== Bouton primaire ==================== */
.utd-btn.primaire {
    color: #fff;
    border-color: var(--couleur-bouton-primaire);
    background-color: var(--couleur-bouton-primaire);
    box-shadow: 0 1px 4px rgba(34, 54, 84, 0.16);
}

.utd-btn.primaire:not([disabled]):hover {
    border-color: #156bb2;
    background-color: #156bb2;
}

.utd-btn.primaire:not([disabled]):focus  {
    border-color: #223654;
    background-color: #156bb2;
    box-shadow: 0 2px 8px rgba(34, 54, 84, 0.16), 0 0 0 2px #4a98d9;
    outline: 0;
}

.utd-btn.primaire:active {
    border-color: #3783c9;
    background-color: #3783c9;
}

.utd-btn.primaire[disabled] {
    color: #6b778a;
    border-color: #9ca5b2;
    background-color: #9ca5b2;
}



/* ==================== Bouton secondaire ==================== */
.utd-btn.secondaire {
    color: #095797;
    border-color: #095797;
    background-color: #fff;
}
.utd-btn.secondaire:not([disabled]):hover {
    background-color: rgba(9, 87, 151, 0.16);
}
.utd-btn.secondaire:not([disabled]):focus {
    border-color: #223654;
    background-color: rgba(9, 87, 151, 0.16);
    box-shadow: 0 0 0 2px #4a98d9;
    outline: 0;
}
.utd-btn.secondaire:active {
    background-color: rgba(9, 87, 151, 0.08);
}
.utd-btn.secondaire[disabled] {
    color: #9ca5b2;
    border-color: #9ca5b2;
    background-color: transparent;
}

/* ==================== Boutons secondaires couleurs inversées ==================== */
.utd-btn.secondaire.inverse1 {
    background-color: transparent;
    color: #ffffff;
    border-color: #ffffff;
}

.utd-btn.secondaire.inverse2 {
    background-color: transparent;
    color: #89bce5;
    border-color: #89bce5;
}

.utd-btn.secondaire.inverse1:not([disabled]):hover, 
.utd-btn.secondaire.inverse2:not([disabled]):hover {
    background-color: rgba(218, 230, 240, 0.08);
}
.utd-btn.secondaire.inverse1:not([disabled]):focus,
.utd-btn.secondaire.inverse2:not([disabled]):focus {
    border-color: #223654;
    background-color: rgba(218, 230, 240, 0.08);
    box-shadow: 0 0 0 2px #4a98d9;
}
.utd-btn.secondaire.inverse1:active,
.utd-btn.secondaire.inverse2:active {
    background-color: rgba(218, 230, 240, 0.16);
}
.utd-btn.secondaire.inverse1[disabled],
.utd-btn.secondaire.inverse2[disabled] {
    pointer-events: none;
    color: #9ca5b2;
    border-color: #9ca5b2;
    background-color: transparent;
}



/* ==================== Bouton tertiaire ==================== */
.utd-btn.tertiaire {
    color: #095797;
    background-color: transparent;
}
.utd-btn.tertiaire:not([disabled]):hover {
    text-decoration: underline;
    background-color: rgba(197, 202, 210, 0.24);
}
.utd-btn.tertiaire:not([disabled]):focus {
    border-color: #223654;
    background-color: rgba(197, 202, 210, 0.24);
    box-shadow: 0 0 0 2px #4a98d9;
    outline: 0;
}
.utd-btn.tertiaire:active {
    background-color: rgba(197, 202, 210, 0.16);
}
.utd-btn.tertiaire[disabled] {
    color: #9ca5b2;
    background-color: transparent;
}


/* ==================== Bouton avertissement ==================== */
.utd-btn.avertissement {
    color: #fff;
    border-color: #cb381f;
    background-color: #cb381f;
}
.utd-btn.avertissement:not([disabled]):hover {
    border-color: #b52e16;
    background-color: #b52e16;
}
.utd-btn.avertissement:not([disabled]):focus {
    border-color: #223654;
    background-color: #b52e16;
    box-shadow: 0 0 0 2px #4a98d9;
    outline: 0;
}
.utd-btn.avertissement:active {
    border-color: #eb705a;
    background-color: #eb705a;
}
.utd-btn.avertissement[disabled] {
    color: #6b778a;
    border-color: #9ca5b2;
    background-color: #9ca5b2;
}

/*====================================================================================================
  -15- WebComponents utd (éléments en dehors des webComponents mais qui leurs sont nécessaires)
====================================================================================================*/

html.modale-ouverte,
html.modale-ouverte body {
    overflow: hidden;
}



/*====================================================================================================
  -20- Forms
/*====================================================================================================*/

label {
    font-family: 'OpenSans';
    font-weight: 600;
    display: inline-block;
    margin-bottom: 4px;
}

.utd-precision {
    display: block;
    margin-bottom: 4px;
    font-size: 0.875rem;
}

.utd-form-group {
    margin-bottom: 2rem;
}

.utd-form-control {
    height: 40px;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #858b93;
    border-radius: 0;
}

input.utd-form-control:focus,
select.utd-form-control:focus {
    outline: 3px solid #89bce5;
    border: 2px solid #5b6476;
}


/*====================================================================================================
-Z20A- Forms (Champs largeurs)  
====================================================================================================*/

input[type="text"].utd-form-control {
    /* On applique une largeur xl à tous les contrôles de type texte par défaut */
    width: 528px;
    max-width: 100%;
}

input[type="number"].utd-form-control,
input[type="date"].utd-form-control {
    width: auto;
}


/*Largeur minimale pour les champs de type date (requis car sinon sur mobile parfois beaucoup trop petit) */

input[type="date"].utd-form-control {
    min-width: 156px;
}


/*Le xxl n'existe pas dans les règles du SCG, c'est ajouté */

input.utd-form-control.xxl {
    width: 728px;
}

input.utd-form-control.xl {
    width: 528px;
}

input.utd-form-control.lg {
    width: 249px;
}

input.utd-form-control.md,
input[type="tel"].utd-form-control {
    width: 156px;
}

input.utd-form-control.sm {
    width: 63px;
}

@media (max-width: 560px) {
    input[type="text"].utd-form-control,
    input.utd-form-control.xl {
        width: 100%;
    }
}

@media (max-width: 760px) {
    input.utd-form-control.xxl {
        width: 100%;
    }
}


/*====================================================================================================
  -60- Layout
====================================================================================================*/
.utd-container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 425px) {
    .utd-container {
        max-width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media (min-width: 576px) {
    .utd-container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .utd-container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .utd-container {
        max-width: 1152px;
    }
}

@media (min-width: 1200px) {
    .utd-container {
        max-width: 1152px;
    }
}

/* ---- Layout 2 colonnes ---- */
#conteneur2Colonnes {
    display: flex;
}

/* Colonne principale */
.contenu-principal-gauche #colonneGauche, .contenu-principal-droite #colonneDroite, .page-texte {
    width: 100%;
    max-width: 736px; 
}

/* Colonne secondaire */
.contenu-principal-gauche #colonneDroite, .contenu-principal-droite #colonneGauche {
    width: 100%;
    max-width: 288px;
}

.contenu-principal-gauche #colonneGauche > *, .contenu-principal-gauche #colonneDroite > *,
.contenu-principal-droite #colonneGauche > *, .contenu-principal-droite #colonneDroite > * {
    margin-top: var(--tc-48-40-val);
}

.contenu-principal-gauche #colonneGauche > *:first-child, .contenu-principal-gauche #colonneDroite > *:first-child,
.contenu-principal-droite #colonneGauche > *:first-child, .contenu-principal-droite #colonneDroite > *:first-child {
    margin-top: 0;
}


/* Limiter la largeur de la colonne principale en mode mobile */
@media all and (max-width:991px) {
    #conteneur2Colonnes {
        display: block;
    }

    .contenu-principal-droite #colonneGauche, .contenu-principal-gauche #colonneDroite {
        max-width: 736px; 
    }

    .contenu-principal-gauche #colonneDroite > *:first-child, .contenu-principal-droite #colonneDroite > *:first-child {
        margin-top: var(--tc-48-40-val);
    }
}

/* Petite twist... Permet d'avoir une marge à gauche(ou à droite) afin de séparer les 2 colonnes, sera actif uniquement si la colonne de gauche (ou de droite) contient au moins un élément */
@media screen and (min-width:992px) {
    .contenu-principal-gauche #colonneDroite > * {
        margin-left: var(--tc-32-24-val);
    }

    .contenu-principal-droite #colonneGauche > * {
        margin-right: var(--tc-32-24-val);
    }
}


/*====================================================================================================
  -900- Sprites 
====================================================================================================*/
/* Taille par défaut des icônes svg */
.utd-icone-svg {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    min-width: 32px;
    height: 32px;
}

/* Icônes svg small (sm) */
.utd-icone-svg.sm {
    min-width: 12px;
    height: 12px;
}

/* Icônes svg medium (md) */
.utd-icone-svg.md {
    min-width: 20px;
    height: 20px;
}

/* Icônes svg large (large) */
.utd-icone-svg.lg {
    min-width: 40px;
    height: 40px;
}


.utd-icone-svg.clipboard {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-clipboard);
}

.utd-icone-svg.plus {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-plus);
}

.utd-icone-svg.moins {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-moins);
}

.utd-icone-svg.x-fermer-bleu {
    width: 16px;
    height: 16px;
    min-width: 16px;
}
.utd-icone-svg.information {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-information");
}

.utd-icone-svg.avertissement {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-avertissement");
}

.utd-icone-svg.succes {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-succes");
}

.utd-icone-svg.erreur {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-erreur");
}

.utd-icone-svg.x-fermer-bleu {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-xfermer-bleu);
}

.utd-icone-svg.question {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-question);
}

.utd-icone-svg.chevron-bleu-piv {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-chevron-bleu-piv);
    width: 16px;
    min-width: 16px;
    height: 10px;
}

.utd-icone-svg.plus {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-plus);
}

.utd-icone-svg.moins {
    background-image: url(/images/utd-sprite-v1.2.0.svg#ico-moins);
}
/*! utd-webcomponents */

/*====================================================================================================
  -10- Slots
====================================================================================================*/

[slot="contenu"] ul {
  padding-left: 16px;
}

[slot="contenu"] ul:last-child {
  margin-bottom: 0;
}

[slot="contenu"] ul li {
  margin-bottom: 16px;
}

[slot="contenu"] ul li:last-of-type {
  margin-bottom: 0;
}

[slot="contenu"] p:first-of-type, .contenu p:first-of-type {
  margin-top: 0;
}

[slot="contenu"] p:last-of-type, .contenu p:last-of-type {
  margin-bottom: 0;
}



/*====================================================================================================*/
/*  -35- Avis 
/*====================================================================================================*/
/*
--couleur-fond-message-information: #D9E6F0;
--couleur-fond-message-bienvenue: #D9E6F0;
--couleur-fond-message-avertissement: #F8E69A;
--couleur-fond-message-nouveaute: #BCDA9A;
--couleur-fond-message-erreur: #EDBAB1;
*/
  .utd-avis {
    display: flex;
    border: 1px solid var(--couleur-filet-secondaire);
    background-color: #fff;
    word-break: break-word;
    font-size: 14px;
    margin-bottom: 32px;
  }

  .utd-avis .zone-icone {
    display: flex;  
    padding: 24px 8px;
  }

  .utd-avis .zone-icone .utd-icone-svg {
      background-size: 100% auto;
      min-width: 24px;
      height: 24px;
  }

  .utd-avis .zone-icone, .utd-avis.information .zone-icone {
      background-color: #D9E6F0;
  }

  .utd-avis.avertissement .zone-icone {
      background-color: #F8E69A;
  }

  .utd-avis.succes .zone-icone {
      background-color: #BCDA9A;
  }

  .utd-avis.erreur .zone-icone {
      background-color: #EDBAB1;
  }

  utd-avis[type="erreur"] [slot="contenu"] ul li a {
    color: var(--couleur-erreur);
  }

  utd-avis[type="erreur"] [slot="contenu"] ul li a:hover, utd-avis[type="erreur"] [slot="contenu"] ul li a:focus {
    text-decoration: none;
  }

  .utd-avis .titre {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: OpenSans-Bold;
    font-size: 14px !important;
}

  .utd-avis .contenu {
      padding: 24px var(--tc-32-24-val) 24px 16px;
      width: 100%;
  }

  
  .utd-avis .contenu :last-child {
      margin-bottom: 0;
  }

/*====================================================================================================
  -40- utd-accordeon
====================================================================================================*/

.utd-accordeon .entete button {
  font-family: 'OpenSans';
  font-size: 16px;
  color: var(--couleur-texte-base);
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 15px;  
  background-color: var(--couleur-fond-gris);
  border: 1px solid var(--couleur-fond-gris);
}

.utd-accordeon .entete button:hover, .utd-accordeon .entete button:focus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 15px;  
  background-color: var(--couleur-fond-gris);
  border: 1px solid var(--couleur-fond-gris);
}


.utd-accordeon .entete button:hover, .utd-accordeon.ouvert .entete button, .utd-accordeon.ouvert .contenu {
  border: 1px solid #c4c8ce;
}

.utd-accordeon .contenu {
  margin-left: 16px;
  /*  transform:scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease;*/
}

.utd-accordeon.ouvert .contenu {
  margin: 0;
  border-top: 1px solid transparent!important;
  padding: 24px 16px;
  /*transform:scaleY(1);*/
}
.utd-accordeon .entete button:focus {
  outline: 2px solid #89bce5;
  border: 2px solid #5b6476;
  padding: 14px 18px 14px 15px;
  margin-left: -1px;
  margin-bottom: 2px;
}



/* Feuille de style pour les webcomponents utd. Les styles ici s'applique à ce qui est dans le ShadowDOM des components. */

/*====================================================================================================
  -50- utd-infobulle
====================================================================================================*/

.utd-infobulle .texte-lie:hover,
  button:hover {
    cursor: pointer;
}
.utd-infobulle .texte-lie {
    background-color: #e7f1fa;
    padding: 0 2px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--couleur-piv);
    text-underline-offset: 2px;
}

.utd-infobulle .conteneur-tooltip {
    position: relative;
    bottom: 8px;
    left: -4px;
    white-space: nowrap;
}

.utd-infobulle .texte-lie + .conteneur-tooltip {
    bottom: 6px;
    left: -6px;
}

.utd-infobulle button.tooltip-toggle {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    position: relative;
    padding: 0 12px;
}

.utd-infobulle .texte-lie + .conteneur-tooltip button.tooltip-toggle {
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    padding: 2px 4px;
    margin-right: -10px;
}

.utd-infobulle button.tooltip-toggle .conteneur-puce {
    display: block;
    width: 16px;
}

.utd-infobulle button.tooltip-toggle .puce {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--couleur-piv);
    display: flex;
    justify-content: center;
    align-items: center;
}

.utd-infobulle button.tooltip-toggle .utd-icone-svg {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-question");
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-left: 0;
}

.utd-infobulle .modale {
    font-family: "OpenSans", sans-serif;
    display: block !important;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
    border: 1px solid #c5cad2;
    height: auto;
    overflow: hidden;
    z-index: 10000;
    padding-top: var(--tc-24-16-val);
    padding-bottom: var(--tc-24-16-val);
  }

  .utd-infobulle .entete {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    max-width: var(--largeur-max-zone-texte);
    padding-top: 0;
    padding-bottom: 0;
  }

  .utd-infobulle .entete h1 {
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--text-lg-val);
    letter-spacing: 0;
    max-width: 58.75rem;
    margin: 0;
  }

  .utd-infobulle .entete h1:focus {
    outline: 0;
  }

  .utd-infobulle .entete h1:after {
    content: none;
  }

  .utd-infobulle .entete .close {
    line-height: 0;
    padding: 1rem;
    font-size: 1rem;
    opacity: 1;
    background-color: transparent;
    border: 0;
    margin: -1rem -1rem -1rem auto;
  }

  .utd-infobulle .entete .close:hover {
    cursor: pointer;
  }

  .utd-infobulle .utd-icone-svg.x-fermer-bleu {
    background-image: url("/images/utd-sprite-v1.2.0.svg#ico-xfermer-bleu");
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  .utd-infobulle .conteneur-corps {
    max-width: var(--largeur-max-zone-texte);
    border: 0;
    line-height: 1.5rem;
    margin: var(--tc-24-16-val) auto 0 auto !important;
    overflow-y: auto;
    display: block;
  }

  .utd-infobulle .corps {
    display: block;
    padding: 0 1.5rem 0 0;
    max-height: calc(33.33333vh - (var(--tc-24-16-val) * 3) - 30px);
    overflow-y: auto;
    font-size: 1rem;
  }

  .utd-infobulle .corps p:first-of-type {
    margin-top: 0;
  }

  .utd-infobulle .corps p:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  .utd-infobulle .corps .d-none {
    display: none;
  }

  /* Scrollbar aide contextuelle */
.utd-infobulle .corps::-webkit-scrollbar,
.utd-infobulle .corps::-webkit-scrollbar-thumb,
.utd-infobulle .corps::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0.3125rem;
    height: 50%;
    width: 0.625rem;
    margin-top: 8px;
}

.utd-infobulle .corps::-webkit-scrollbar-button,
.utd-infobulle .corps::-webkit-scrollbar-track-piece,
.utd-infobulle .corps::-webkit-scrollbar-corner,
.utd-infobulle .corps::-webkit-resizer {
    display: none;
}

.utd-infobulle .corps::-webkit-scrollbar-thumb {
    background-color: var(--couleur-bleu-pale);
    transition: all 0.35s;
}

/*====================================================================================================
  -60- utd-dialog
====================================================================================================*/

.utd-dialog {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index:10000;
}

.utd-dialog .conteneur {
  display: flex;
  flex-direction: column;
  max-width: 536px; /* (600 - padding de côté) */
  position: relative;
  width: auto;
  padding: 0 32px;
  box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
  border: 1px solid #c5cad2;
  background-color: #fff;
  margin: 2rem auto;
}

.utd-dialog .principal {
  padding: 0 16px 32px 0;
  width: 100%;
}

.utd-dialog .entete {
  position: relative;
  max-width: var(--largeur-max-zone-texte);
  margin-bottom: 24px;
}

.utd-dialog .entete h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.utd-dialog .entete h1::after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  border-bottom: 4px solid;
  border-bottom-style: solid;
  border-bottom-color: var(--couleur-saumon);
}

.utd-dialog .entete h1:focus {
  outline: 0;
}

.utd-dialog .pied {
  margin-top: 24px;
}

.utd-dialog .close {
  display: flex;
  line-height: 0;
  padding: 1rem;
  font-size: 1rem;
  opacity: 1;
  background-color: transparent;
  border: 0;
  margin: 0 -2rem -1rem auto;
}

.utd-dialog .close:hover {
  cursor: pointer;
}

.utd-dialog .utd-icone-svg.x-fermer-bleu {
  background-image: url("/images/utd-sprite-v1.2.0.svg#ico-xfermer-bleu");
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.utd-dialog .corps {
  line-height: 1.5rem;
/*    overflow-y: auto;*/
  font-size: 1rem;
}

.utd-dialog .pied {
  display: flex;
  justify-content: end;  
}

@media (max-width: 425px) {
  .utd-dialog .pied {
        flex-direction: column;
    }
  } 
  
 

/* Slots */
utd-dialog [slot="pied"] > button {
  margin-right: 32px;
}

utd-dialog [slot="pied"] > button:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {

  utd-dialog [slot="pied"] button {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
  }

  utd-dialog [slot="pied"] button:last-of-type {
      margin-bottom: 0;
  }
}



