/*====================================================================================================
  -00- Variables
====================================================================================================*/

:root {
    /* Tailles calculées */
    --tc-8-4: 0.5rem;
    /*8px*/
    --tc-8-4-ecart: 4;
    /*min 4px max 8px*/
    --tc-8-4-ecart-px: calc(var(--tc-8-4-ecart) * 1px);
    --tc-14-12: 0.875rem;
    /*14px*/
    --tc-14-12-ecart: 2;
    /*min 12px max 14px*/
    --tc-14-12-ecart-px: calc(var(--tc-14-12-ecart) * 1px);
    --tc-16-4: 1rem;
    /*16px*/
    --tc-16-4-ecart: 12;
    /*min 4px max 16px*/
    --tc-16-4-ecart-px: calc(var(--tc-16-4-ecart) * 1px);
    --tc-16-8: 1rem;
    /*16px*/
    --tc-16-8-ecart: 8;
    /*min 8px max 16px*/
    --tc-16-8-ecart-px: calc(var(--tc-16-8-ecart) * 1px);
    --tc-18-14: 1.125rem;
    /*18px*/
    --tc-18-14-ecart: 4;
    /*min 14px max 18px*/
    --tc-18-14-ecart-px: calc(var(--tc-18-14-ecart) * 1px);
    --tc-18-16: 1.125rem;
    /*18px*/
    --tc-18-16-ecart: 2;
    /*min 16px max 18px*/
    --tc-18-16-ecart-px: calc(var(--tc-18-16-ecart) * 1px);
    --tc-24-12: 1.5rem;
    /*24px*/
    --tc-24-12-ecart: 12;
    /*min 12px max 24px*/
    --tc-24-12-ecart-px: calc(var(--tc-24-12-ecart) * 1px);
    --tc-24-16: 1.5rem;
    /*24px*/
    --tc-24-16-ecart: 8;
    /*min 16px max 24px*/
    --tc-24-16-ecart-px: calc(var(--tc-24-16-ecart) * 1px);
    --tc-32-16: 2rem;
    /*32px*/
    --tc-32-16-ecart: 16;
    /*min 16px max 32px*/
    --tc-32-16-ecart-px: calc(var(--tc-32-16-ecart) * 1px);
    --tc-32-24: 2rem;
    /*32px*/
    --tc-32-24-ecart: 8;
    /*min 24px max 32px*/
    --tc-32-24-ecart-px: calc(var(--tc-32-24-ecart) * 1px);
    --tc-48-40: 3rem;
    /*48px*/
    --tc-48-40-ecart: 8;
    /*min 40px max 48px*/
    --tc-48-40-ecart-px: calc(var(--tc-48-40-ecart) * 1px);
    --tc-80-72: 5rem;
    /*80px*/
    --tc-80-72-ecart: 8;
    /*min 72px max 80px*/
    --tc-80-72-ecart-px: calc(var(--tc-80-72-ecart) * 1px);
    --tc-8-4-val: var(--tc-8-4);
    --tc-14-12-val: var(--tc-14-12);
    --tc-16-4-val: var(--tc-16-4);
    --tc-16-8-val: var(--tc-16-8);
    --tc-18-14-val: var(--tc-18-14);
    --tc-18-16-val: var(--tc-18-16);
    --tc-24-12-val: var(--tc-24-12);
    --tc-24-16-val: var(--tc-24-16);
    --tc-32-16-val: var(--tc-32-16);
    --tc-32-24-val: var(--tc-32-24);
    --tc-48-40-val: var(--tc-48-40);
    --tc-80-72-val: var(--tc-80-72);
    /*Autres grandeurs de textes */
    --text-xs: 0.8rem;
    /*12.8*/
    --text-sm: 0.875rem;
    /*14*/
    --text-base: 1rem;
    /*16*/
    --text-base-ecart: 2;
    /*min 14px max 16px*/
    --text-base-ecart-px: calc(var(--text-base-ecart) * 1px);
    --text-base-val: var(--text-base);
    --text-lg: 1.25rem;
    --text-lg-ecart: 2;
    /*min 18px max 20x*/
    --text-lg-ecart-px: calc(var(--text-lg-ecart) * 1px);
    --text-lg-val: var(--text-lg);
    --text-xl: 1.5rem;
    --text-xl-ecart: 3;
    /*min 21px max 24x*/
    --text-xl-ecart-px: calc(var(--text-xl-ecart) * 1px);
    --text-xl-val: var(--text-xl);
    --text-xxl: 1.75rem;
    /*28*/
    --text-xxl-ecart: 4;
    /*min 24px max 28px*/
    --text-xxl-ecart-px: calc(var(--text-xxl-ecart) * 1px);
    --text-xxl-val: var(--text-xxl);
    --text-xxxl: 2rem;
    /*H1 32px*/
    --text-xxxl-ecart: 4;
    /*min 28px max 32px*/
    --text-xxxl-ecart-px: calc(var(--text-xxxl-ecart) * 1px);
    --text-xxxl-val: var(--text-xxxl);
    --position-retour-haut-page: 30px;
    --position-retour-haut-page-ecart: 15;
    /*max 30px min 15px*/
    --position-retour-haut-page-ecart-px: calc(var(--position-retour-haut-page-ecart) * 1px);
    --ratio-vw: calc((100vw - 325px) / (1152 - 325));
    --ratio-vw-piv-signature: calc((100vw - 325px) / (568 - 325));
    --largeur-logo-piv-gouv-entete: 256px;
    --largeur-logo-piv-gouv-entete-ecart: 106;
    --largeur-logo-piv-gouv-entete-ecart-px: calc(var(--largeur-logo-piv-gouv-entete-ecart) * 1px);
    --hauteur-fixe-footer-desktop: 210px;
    --hauteur-fixe-footer-mobile: 270px;
    --container-padding: 0 16px;
    --largeur-max-zone-texte: 736px;
    --couleur-fond-gris: #F2F1F1;
    --couleur-piv: #095797;
    --couleur-bleu: #1479CC;
    --couleur-liens: #095797;
    --couleur-loader: #1073E6;
    --couleur-bouton-primaire: #095797;
    --couleur-bleu-pale: #DAE6F0;
    --couleur-orange: #cf4b00;
    --couleur-saumon: #F09686;
    --couleur-primaire-entete-soulignee: var(--couleur-saumon);
    --couleur-secondaire-entete-soulignee: #96c4c3;
    --couleur-texte-base: #223654;
    --couleur-texte-gris-pale: #6A778A;
    --couleur-erreur: #cb381f;
    --couleur-rouge-fonce: #B52E16;
    --couleur-succes: #4f813d;
    --couleur-avertissement: #ffcc00;
    --couleur-entete-carte-primaire: #095797;
    --couleur-hover: #ecf2f7;
    --couleur-filet-secondaire: #c5cad2;
    --couleur-fond-fenetres-messages: #D9E6F0;
    --couleur-fond-message-information: #D9E6F0;
    --couleur-fond-message-bienvenue: #D9E6F0;
    --couleur-fond-message-avertissement: #F8E69A;
    --couleur-fond-message-nouveaute: #BCDA9A;
    --couleur-fond-message-erreur: #EDBAB1;
}


/*====================================================================================================
  -01- Fonts
/*====================================================================================================*/


/* On utilise volontairement uniquement le format WOFF afin d'éviter le chargement du WOFF2 qui se fait aussi dans Chrome pour une raison inconnue (on se retrouve donc à faire le double de requêtes HTTP)*/


/* open-sans-regular - latin */

@font-face {
    font-family: 'OpenSans-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('/fonts/open-sans-v18-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* open-sans-600 - latin */

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url('/fonts/open-sans-v18-latin-600.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* open-sans-700 - latin */

@font-face {
    font-family: 'OpenSans-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/fonts/open-sans-v18-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-regular - latin  non utilisé pour le moment */


/*@font-face {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ 
}*/


/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/roboto-v20-latin-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('/fonts/roboto-v20-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/*====================================================================================================
  -02- Tailles adaptatives                                                                                  
====================================================================================================*/

.text-base-fixe {
    font-size: var(--text-base);
}

.text-sm,
small {
    font-size: var(--text-sm);
}

.text-xs {
    font-size: var(--text-xs);
}

@media screen and (max-width: 324px) {
     :root {
        --tc-8-4-val: calc(var(--tc-8-4) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) - var(--tc-18-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) - var(--tc-24-16-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) - var(--tc-32-24-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) - var(--tc-48-40-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) - var(--tc-80-72-ecart-px));
        --text-base-val: calc(var(--text-base) - var(--text-base-ecart-px));
        --text-lg-val: calc(var(--text-lg) - var(--text-lg-ecart-px));
        --text-xl-val: calc(var(--text-xl) - var(--text-xl-ecart-px));
        --text-xxl-val: calc(var(--text-xxl) - var(--text-xxl-ecart-px));
        --text-xxxl-val: calc(var(--text-xxxl) - var(--text-xxxl-ecart-px));
    }
    #flecheHaut {
        right: calc(var(--position-retour-haut-page) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}

@media all and (min-width: 325px) and (max-width: 1151px) {
     :root {
        --tc-8-4-val: calc(var(--tc-8-4) + (var(--ratio-vw) * var(--tc-8-4-ecart)) - var(--tc-8-4-ecart-px));
        --tc-14-12-val: calc(var(--tc-14-12) + (var(--ratio-vw) * var(--tc-14-12-ecart)) - var(--tc-14-12-ecart-px));
        --tc-16-4-val: calc(var(--tc-16-4) + (var(--ratio-vw) * var(--tc-16-4-ecart)) - var(--tc-16-4-ecart-px));
        --tc-16-8-val: calc(var(--tc-16-8) + (var(--ratio-vw) * var(--tc-16-8-ecart)) - var(--tc-16-8-ecart-px));
        --tc-18-14-val: calc(var(--tc-18-14) + (var(--ratio-vw) * var(--tc-18-14-ecart)) - var(--tc-18-14-ecart-px));
        --tc-18-16-val: calc(var(--tc-18-16) + (var(--ratio-vw) * var(--tc-18-16-ecart)) - var(--tc-18-16-ecart-px));
        --tc-24-12-val: calc(var(--tc-24-12) + (var(--ratio-vw) * var(--tc-24-12-ecart)) - var(--tc-24-12-ecart-px));
        --tc-24-16-val: calc(var(--tc-24-16) + (var(--ratio-vw) * var(--tc-24-16-ecart)) - var(--tc-24-16-ecart-px));
        --tc-32-16-val: calc(var(--tc-32-16) + (var(--ratio-vw) * var(--tc-32-16-ecart)) - var(--tc-32-16-ecart-px));
        --tc-32-24-val: calc(var(--tc-32-24) + (var(--ratio-vw) * var(--tc-32-24-ecart)) - var(--tc-32-24-ecart-px));
        --tc-48-40-val: calc(var(--tc-48-40) + (var(--ratio-vw) * var(--tc-48-40-ecart)) - var(--tc-48-40-ecart-px));
        --tc-80-72-val: calc(var(--tc-80-72) + (var(--ratio-vw) * var(--tc-80-72-ecart)) - var(--tc-80-72-ecart-px));
        --text-base-val: calc(var(--text-base) + (var(--ratio-vw) * var(--text-base-ecart)) - var(--text-base-ecart-px));
        --text-lg-val: calc(var(--text-lg) + (var(--ratio-vw) * var(--text-lg-ecart)) - var(--text-lg-ecart-px));
        --text-xl-val: calc(var(--text-xl) + (var(--ratio-vw) * var(--text-xl-ecart)) - var(--text-xl-ecart-px));
        --text-xxl-val: calc(var(--text-xxl) + (var(--ratio-vw) * var(--text-xxl-ecart)) - var(--text-xxl-ecart-px));
        --text-xxxl-val: calc(var(--text-xxxl) + (var(--ratio-vw) * var(--text-xxxl-ecart)) - var(--text-xxxl-ecart-px));
    }
    #flecheHaut {
        right: calc(var(--position-retour-haut-page) + (var(--ratio-vw) * var(--position-retour-haut-page-ecart)) - var(--position-retour-haut-page-ecart-px)) !important;
    }
}

@media screen and (min-width: 1152px) {
    #flecheHaut {
        right: var(--position-retour-haut-page);
    }
}

h1,
.text-xxxl {
    font-size: var(--text-xxxl-val);
}

.text-xxl {
    font-size: var(--text-xxl-val);
}

.text-xl {
    font-size: var(--text-xl-val);
}

.text-lg {
    font-size: var(--text-lg-val);
}

.text-base {
    font-size: var(--text-base-val) !important;
}

.espaceur-conteneurs {
    height: var(--tc-48-40-val);
}


/*====================================================================================================
  -10- Général                                                                                      
/*====================================================================================================*/
/* Pas de margin sur un dernier paragraphe */

p:last-child {
    margin-bottom: 0!important;
}


/*====================================================================================================
  -15- WebComponents utd (éléments en dehors des webComponents mais qui leurs sont nécessaires)
====================================================================================================*/

html.modale-ouverte,
html.modale-ouverte body {
    overflow: hidden;
}

utd-infobulle [slot="contenu"] p:first-of-type,
utd-dialog [slot="contenu"] p:first-of-type {
  margin-top: 0;
}

utd-dialog [slot="contenu"] p:last-of-type {
  margin-bottom: 0;
}

utd-dialog [slot="pied"] > button {
  margin-right: 32px;
}

utd-dialog [slot="pied"] > button:last-child {
  margin-right: 0;
}

@media (max-width: 425px) {

  utd-dialog [slot="pied"] button {
      margin-bottom: 24px;
      margin-right: 0;
      width: 100%;
  }

  utd-dialog [slot="pied"] button:last-of-type {
      margin-bottom: 0;
  }
}

/*====================================================================================================
  -20- Forms
/*====================================================================================================*/

label {
    font-family: OpenSans-SemiBold;
    display: inline-block;
    margin-bottom: 4px;
}

.utd-precision {
    display: block;
    margin-bottom: 4px;
    font-size: 0.875rem;
}

.utd-form-group {
    margin-bottom: 2rem;
}

.utd-form-control {
    height: 40px;
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #858b93;
    border-radius: 0;
}

input.utd-form-control:focus,
select.utd-form-control:focus {
    outline: 3px solid #89bce5;
    border: 2px solid #5b6476;
}


/*====================================================================================================
-Z20A- Forms (Champs largeurs)  
====================================================================================================*/

input[type="text"].utd-form-control {
    /* On applique une largeur xl à tous les contrôles de type texte par défaut */
    width: 528px;
    max-width: 100%;
}

input[type="number"].utd-form-control,
input[type="date"].utd-form-control {
    width: auto;
}


/*Largeur minimale pour les champs de type date (requis car sinon sur mobile parfois beaucoup trop petit) */

input[type="date"].utd-form-control {
    min-width: 156px;
}


/*Le xxl n'existe pas dans les règles du SCG, c'est ajouté */

input.utd-form-control.xxl {
    width: 728px;
}

input.utd-form-control.xl {
    width: 528px;
}

input.utd-form-control.lg {
    width: 249px;
}

input.utd-form-control.md,
input[type="tel"].utd-form-control {
    width: 156px;
}

input.utd-form-control.sm {
    width: 63px;
}

@media (max-width: 560px) {
    input[type="text"].utd-form-control,
    input.utd-form-control.xl {
        width: 100%;
    }
}

@media (max-width: 760px) {
    input.utd-form-control.xxl {
        width: 100%;
    }
}


/*====================================================================================================
  -60- Redéfinitions Bootstrap (TODO vérifier si moyen de ne pas mettre aussi dans utd-components)
====================================================================================================*/
.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 425px) {
    .container {
        max-width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1152px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

/*====================================================================================================
  -900- Sprites 
====================================================================================================*/

.utd-icone-svg {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.utd-icone-svg.sm {
    /* Icônes svg small (sm) */
    min-width: 12px;
    height: 12px;
}

.utd-icone-svg.md {
    /* Icônes svg medium (md) */
    min-width: 20px;
    height: 20px;
}

.utd-icone-svg.lg {
    /* Icônes svg large (large) */
    min-width: 40px;
    height: 40px;
}
/*! utd-webcomponents */
/* Feuille de style pour les webcomponents utd. Les styles ici s'applique à ce qui est dans le ShadowDOM des components. */


/*====================================================================================================
  -01- Éléments généraux
====================================================================================================*/

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.utd-backdrop {
    /*Backdrop*/
    opacity: 0.5;
    position: fixed;
    z-index: 1040;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

/*====================================================================================================
  -40- utd-infobulle
====================================================================================================*/

.utd-infobulle .texte-lie:hover,
  button:hover {
    cursor: pointer;
}
.utd-infobulle .texte-lie {
    background-color: #e7f1fa;
    padding: 0 2px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-color: var(--couleur-piv);
    text-underline-offset: 2px;
}

.utd-infobulle .conteneur-tooltip {
    position: relative;
    bottom: 8px;
    left: -4px;
    white-space: nowrap;
}

.utd-infobulle .texte-lie + .conteneur-tooltip {
    bottom: 6px;
    left: -6px;
}

.utd-infobulle button.tooltip-toggle {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    border: 0;
    background-color: transparent;
    position: relative;
    padding: 0 12px;
}

.utd-infobulle .texte-lie + .conteneur-tooltip button.tooltip-toggle {
    width: auto;
    height: auto;
    min-width: 0;
    min-height: 0;
    padding: 2px 4px;
    margin-right: -10px;
}

.utd-infobulle button.tooltip-toggle .conteneur-puce {
    display: block;
    width: 16px;
}

.utd-infobulle button.tooltip-toggle .puce {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: var(--couleur-piv);
    display: flex;
    justify-content: center;
    align-items: center;
}

.utd-infobulle button.tooltip-toggle .utd-icone-svg {
    background-image: url("/images/utd-sprite-v1.1.0.svg#ico-question");
    width: 10px;
    height: 10px;
    min-width: 10px;
    margin-left: 0;
}

.utd-infobulle .modale {
    font-family: "OpenSans-Regular", sans-serif;
    display: block !important;
    position: fixed;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
    border: 1px solid #c5cad2;
    height: auto;
    overflow: hidden;
    z-index: 10000;
    padding-top: var(--tc-24-16-val);
    padding-bottom: var(--tc-24-16-val);
  }

  .utd-infobulle .entete {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    max-width: var(--largeur-max-zone-texte);
    padding-top: 0;
    padding-bottom: 0;
  }

  .utd-infobulle .entete h1 {
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--text-lg-val);
    letter-spacing: 0;
    max-width: 58.75rem;
    margin: 0;
  }

  .utd-infobulle .entete h1:focus {
    outline: 0;
  }

  .utd-infobulle .entete h1:after {
    content: none;
  }

  .utd-infobulle .entete .close {
    line-height: 0;
    padding: 1rem;
    font-size: 1rem;
    opacity: 1;
    background-color: transparent;
    border: 0;
    margin: -1rem -1rem -1rem auto;
  }

  .utd-infobulle .entete .close:hover {
    cursor: pointer;
  }

  .utd-infobulle .utd-icone-svg.x-fermer-bleu {
    background-image: url("/images/utd-sprite-v1.1.0.svg#ico-xfermer-bleu");
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  .utd-infobulle .conteneur-corps {
    max-width: var(--largeur-max-zone-texte);
    border: 0;
    line-height: 1.5rem;
    margin: var(--tc-24-16-val) auto 0 auto !important;
    overflow-y: auto;
    display: block;
  }

  .utd-infobulle .corps {
    display: block;
    padding: 0 1.5rem 0 0;
    max-height: calc(33.33333vh - (var(--tc-24-16-val) * 3) - 30px);
    overflow-y: auto;
    font-size: 1rem;
  }

  .utd-infobulle .corps p:first-of-type {
    margin-top: 0;
  }

  .utd-infobulle .corps p:nth-last-of-type(2) {
    margin-bottom: 0;
  }

  .utd-infobulle .corps .d-none {
    display: none;
  }

  /* Scrollbar aide contextuelle */
.utd-infobulle .corps::-webkit-scrollbar,
.utd-infobulle .corps::-webkit-scrollbar-thumb,
.utd-infobulle .corps::-webkit-scrollbar-track {
    background: transparent;
    border: none;
    border-radius: 0.3125rem;
    height: 50%;
    width: 0.625rem;
    margin-top: 8px;
}

.utd-infobulle .corps::-webkit-scrollbar-button,
.utd-infobulle .corps::-webkit-scrollbar-track-piece,
.utd-infobulle .corps::-webkit-scrollbar-corner,
.utd-infobulle .corps::-webkit-resizer {
    display: none;
}

.utd-infobulle .corps::-webkit-scrollbar-thumb {
    background-color: var(--couleur-bleu-pale);
    transition: all 0.35s;
}


/*====================================================================================================
  -50- utd-dialog
====================================================================================================*/

.utd-dialog {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index:10000;
}

.utd-dialog .conteneur {
  display: flex;
  flex-direction: column;
  max-width: 536px; /* (600 - padding de côté) */
  position: relative;
  width: auto;
  padding: 0 32px;
  box-shadow: 0 3px 12px rgba(34, 54, 84, 0.22);
  border: 1px solid #c5cad2;
  background-color: #fff;
  margin: 2rem auto;
}

.utd-dialog .principal {
  padding: 0 16px 32px 0;
  width: 100%;
}

.utd-dialog .entete {
  position: relative;
  max-width: var(--largeur-max-zone-texte);
  margin-bottom: 24px;
}

.utd-dialog .entete h1 {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.utd-dialog .entete h1::after {
  content: "";
  display: block;
  margin: 0;
  width: 3rem;
  border-bottom: 4px solid;
  border-bottom-style: solid;
  border-bottom-color: var(--couleur-saumon);
}

.utd-dialog .entete h1:focus {
  outline: 0;
}

.utd-dialog .pied {
  margin-top: 24px;
}

.utd-dialog .close {
  display: flex;
  line-height: 0;
  padding: 1rem;
  font-size: 1rem;
  opacity: 1;
  background-color: transparent;
  border: 0;
  margin: 0 -2rem -1rem auto;
}

.utd-dialog .close:hover {
  cursor: pointer;
}

.utd-dialog .utd-icone-svg.x-fermer-bleu {
  background-image: url("/images/utd-sprite-v1.1.0.svg#ico-xfermer-bleu");
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.utd-dialog .corps {
  line-height: 1.5rem;
/*    overflow-y: auto;*/
  font-size: 1rem;
}

.utd-dialog .pied {
  display: flex;
  justify-content: end;  
}

@media (max-width: 425px) {
.utd-dialog .pied {
      flex-direction: column;
  }
}


/*====================================================================================================
  -60- Redéfinitions Bootstrap
====================================================================================================*/
.container {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (max-width: 425px) {
    .container {
        max-width: 100%;
        padding-right: 8px;
        padding-left: 8px;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1152px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1152px;
    }
}

/*====================================================================================================
  -900- Sprites 
====================================================================================================*/
.utd-icone-svg {
    display: inline-block;
    content: "";
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.utd-icone-svg.x-fermer-bleu {
    width: 16px;
    height: 16px;
    min-width: 16px;
}
.utd-icone-svg.x-fermer-bleu {
    background-image: url(utd-sprite.svg-v1.1.0#ico-xfermer-bleu);
}

.utd-icone-svg.question {
    background-image: url(utd-sprite.svg-v1.1.0#ico-question);
}

.utd-icone-svg.plus {
    background-image: url(utd-sprite.svg-v1.1.0#ico-plus);
}

.utd-icone-svg.moins {
    background-image: url(utd-sprite.svg-v1.1.0#ico-moins);
}