
/*====================================================================================================*/
/*  -00- Headers
/*====================================================================================================*/
h2 {
    margin-top: 48px;
}


h3 {
    margin-top: 32px; /*Quebec.ca = 24px, pas de sens, c'est moins que marge d'un paragraphe.*/
}

h4 {
    margin-top: 32px; /*Quebec.ca = 24px, pas de sens, c'est idem que marge d'un paragraphe.*/
}

h5 {
    margin-top: 24px; /*Quebec.ca = 16px, pas de sens, c'est moins que marge d'un paragraphe.*/
}

h6 {
    margin-top: 24px; /*Quebec.ca = 16px, pas de sens, c'est moins que marge d'un paragraphe.*/
}

/*====================================================================================================*/
/*  -15- Menu principal (desktop)
/*====================================================================================================*/

.conteneur-menu-identification {
    background-color: var(--couleur-texte-base);
    color: #fff;
}


.zone-menu-identification {
    display: flex;
    min-height: 72px;
}

.menu-principal {
    display: flex;
    align-items: flex-end;
}

.menu-principal ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-principal ul li {
    margin-right: 32px;
}

.menu-principal ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: var(--tc-18-16-val);
    border-bottom: 4px solid var(--couleur-texte-base);
    padding: 8px 8px 4px 8px;
}


.menu-principal ul li:last-of-type {
    margin-right: 0;
}



.menu-principal ul li a:hover,
.menu-principal ul li a:focus {
    border-bottom: 4px solid #909aa9;
}

.menu-principal ul li a.active {
    border-bottom: 4px solid #909aa9 !important;
    font-family: OpenSans-Bold, sans-serif;
}





/*====================================================================================================
  -05- Menu secondaire
====================================================================================================*/
.menu-secondaire .toggle{
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    background-color: var(--couleur-bleu-pale);
    padding: 8px;
    width: 100%;
    text-align: left;
    color: var(--couleur-liens);
}

@media (min-width: 992px) {
    .menu-secondaire .toggle{
        display:none;    
    }    
    .menu-secondaire .menu {
        display: block;
    }

    .menu-secondaire ul {
        padding: 0;
        background-color: inherit;
    }

    .menu-secondaire li a{    
        padding: 16px 8px;
        border-top: 1px solid var(--couleur-filet-secondaire);
        background-color: transparent;
    }
        
    .menu-secondaire li:last-child a{    
        border-bottom: 1px solid var(--couleur-filet-secondaire);
    }
    
    .menu-secondaire li a:hover, .menu-secondaire li a:focus{    
        background-color: var(--couleur-hover);
    }
}


/*====================================================================================================
  -06- PIV bas de page
====================================================================================================*/
.piv-bas-page {
    margin-top: var(--tc-80-72-val);
}

.piv-bas-page .conteneur-signature-mo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piv-bas-page .logo-mo {
    display: block;
}

.piv-bas-page .copyright a {
    color: var(--couleur-liens);
    text-decoration: none;
    font-size: 14px;
}

.piv-bas-page .copyright a:hover, .piv-bas-page .copyright a:focus  {
    text-decoration: underline;
}

/*====================================================================================================
  -10- Layout
====================================================================================================*/

/* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
.conteneur-principal {
    min-height: calc(100vh - var(--hauteur-fixe-footer-desktop));
}


/*====================================================================================================
  -12- Composant "CodeSource"
====================================================================================================*/
.code-source {
    position: relative;
}

.code-source pre {
    margin-top: -16px;
    margin-bottom: -32px;
}

.code-source pre code.hljs{
    min-height: 78px;
    padding: 0 16px;
}

/* Pour raison inconnue depuis le passage à SVELTE 3.49, la ère ligne de code est toujours décalée. On patch ici... */
.code-source code > *:first-child {
    margin-left: -70px;
}


.code-source .zone-copie {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.code-source .message-copie {
    margin-left: 8px;
}

/*====================================================================================================
  -13- Page "Boutons"
====================================================================================================*/

.exemples-boutons {
    flex-wrap: wrap;
}

.exemples-boutons .utd-btn {
    margin-right: 32px;
    margin-bottom: 32px;
}


/*====================================================================================================
  -14- Page "Dialogue"
====================================================================================================*/
.utd-btn.btn-avis {
    position: fixed;
    right: 0;
    top: 200px;
    min-width: 40px;
    padding: 9px 5px 1px 5px;
    font-size: 14px;    
}
.btn-avis .texte {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;    
    transform: rotate(180deg);    
}


/*====================================================================================================
  -14- Entête précédées d'un accordéon et accordéons
====================================================================================================*/
/* Si entête précédée d'un accordéon on augmente la marge */
utd-accordeon + h2, utd-accordeon + h3, utd-accordeon + h4, utd-accordeon + h5 {
    margin-top: 48px;
}
