

/*====================================================================================================*/
/*  -01- PIV entête
/*====================================================================================================*/
.piv {
    background-color: var(--couleur-piv);
    color: #fff;
}

.piv a {
    color: #fff;
}

.piv a:hover, .piv a:focus {
    color: #fff;
}

.conteneur-passer-contenu {
    position: absolute;
    width: 100%;
}

.passer-contenu {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.passer-contenu a {
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.passer-contenu a:focus {
    width: inherit;
    height: inherit;
    overflow: inherit;
    clip: inherit;
    white-space: inherit;
    border: inherit;
    color: #fff;
    padding: 0.3rem;
    border: 1px solid #fff;
}


.piv-entete .conteneur-sections{
    display: flex;
    justify-content: space-between;
}

.piv-entete .signature-gouvernement {
    margin-right: 24px;

}

.piv-entete .signature-gouvernement a {
    display: block;
}

.piv-entete .signature-gouvernement img{
    height: 72px;
    width: 198px;
}


@media screen and (max-width:403px) {

    .piv-entete .signature-gouvernement img {
        width: 128px;
        height: 48px;
    }

}

/*
@media screen and (min-width:325px) and (max-width:567px) {
    .piv-entete .signature-gouvernement {
        width: calc(var(--largeur-logo-piv-gouv-entete) + (var(--ratio-vw) * var(--largeur-logo-piv-gouv-entete-ecart)) - var(--largeur-logo-piv-gouv-entete-ecart-px));
    }
}

@media screen and (min-width:568px) {
    .piv-entete .signature-gouvernement {
        min-width: var(--largeur-logo-piv-gouv-entete);
    }
}
*/
.piv .section-centre {
    width: 100%;
}

#pivLogoGouvernementPrint {
    display: none;
}


/* ========== Section du centre ==========*/
.piv-entete .section-centre {
    display: flex;
    align-items: center;
}

.piv-entete .titre-site {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    /*margin-top: 3px;  Pas dans charte graphique... permet d'aligner parfaitement avec drapeau*/
}

.piv-entete .titre-site:hover, .piv-entete .titre-site:focus  {
    text-decoration: underline;
}

.piv-entete .titre-site.mobile {
    display:none;
    padding-bottom: 8px;
}

.piv-entete .titre-site .description {
    font-size: 16px;
}

@media screen and (max-width:767px) {
    .piv-entete .titre-site {
        display: none;
    }

    .piv-entete .titre-site.mobile {
        display: flex;
    }
}

/* ========== Section droite ==========*/
.piv-entete .section-droite {
    min-width: 100px;
}

.piv-entete .section-droite ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 0 0 0.5rem;
    margin: 0;
    height: 100%;
}

.piv-entete .section-droite ul a {
    text-decoration: none;
    font-size: 14px;
}

.piv-entete .section-droite ul a:hover,
.piv .section-droite ul a:focus {
    text-decoration: underline;
}

.piv-entete .section-droite ul li:first-child {
    padding-bottom: 0.7rem;
}

.piv-entete .section-droite ul li:last-child {
    padding-bottom: 0;
}




header {
    margin-bottom: var(--tc-48-40-val);
}


/*====================================================================================================*/
/*  -15- Menu principal (desktop)
/*====================================================================================================*/

.conteneur-menu-identification {
    background-color: var(--couleur-texte-base);
    color: #fff;
}


.zone-menu-identification {
    display: flex;
    min-height: 72px;
}

.menu-principal {
    display: flex;
    align-items: flex-end;
}

.menu-principal ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-principal ul li {
    margin-right: 32px;
}

.menu-principal ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: 'OpenSans', sans-serif;
    font-size: var(--tc-18-16-val);
    border-bottom: 4px solid var(--couleur-texte-base);
    padding: 8px 8px 4px 8px;
}


.menu-principal ul li:last-of-type {
    margin-right: 0;
}



.menu-principal ul li a:hover,
.menu-principal ul li a:focus {
    border-bottom: 4px solid #909aa9;
}

.menu-principal ul li a.active {
    border-bottom: 4px solid #909aa9 !important;
    font-family: OpenSans-Bold, sans-serif;
}





/*====================================================================================================
  -05- Menu secondaire
====================================================================================================*/
.menu-secondaire .toggle{
    font-family: 'OpenSans';
    font-size: 16px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    background-color: var(--couleur-bleu-pale);
    padding: 8px;
    width: 100%;
    text-align: left;
    color: var(--couleur-liens);
}

.menu-secondaire .menu{
    display: none;
}
.menu-secondaire .menu.visible {
    display: block;
    margin-top: 0!important;    
}

.menu-secondaire:not(.visible) .utd-icone-svg.chevron-bleu-piv{
    transform: rotate(-180deg);
}

.menu-secondaire ul{
    list-style-type: none;
    padding: 0 0 16px 0;
    margin: 0;
    background-color: var(--couleur-bleu-pale);
}

.menu-secondaire [slot="contenu"] ul {
    padding-left: 0;
}

.menu-secondaire [slot="contenu"] ul li {
    margin-bottom: 0;
}

.menu-secondaire li a{
    display: block;    
    color: var(--couleur-liens);
    text-decoration: none;
    padding: 8px 32px 8px 24px;
}

.menu-secondaire li a:hover, .menu-secondaire li a:focus{    
    background-color: var(--couleur-fond-gris);
}


.menu-secondaire li a.active{    
    background-color: var(--couleur-bleu-pale);
    font-weight: 700;
}

.menu-secondaire li a:active{
    background-color: var(--couleur-bleu-pale);
}



@media (min-width: 992px) {
    .menu-secondaire .toggle{
        display:none;    
    }    
    .menu-secondaire .menu {
        display: block;
    }

    .menu-secondaire ul {
        padding: 0;
        background-color: inherit;
    }

    .menu-secondaire li a{    
        padding: 16px 8px;
        border-top: 1px solid var(--couleur-filet-secondaire);
        background-color: transparent;
    }
        
    .menu-secondaire li:last-child a{    
        border-bottom: 1px solid var(--couleur-filet-secondaire);
    }
    
    .menu-secondaire li a:hover, .menu-secondaire li a:focus{    
        background-color: var(--couleur-hover);
    }
}



/*====================================================================================================
  -09- Composant "CodeSource"
====================================================================================================*/
.code-source {
    position: relative;
}

.code-source pre {
    margin: 0;
}

.code-source code {
    min-height: 78px;
}

.code-source .zone-copie {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.code-source .message-copie {
    margin-left: 8px;
}

/*====================================================================================================
  -10- Page "Boutons"
====================================================================================================*/

.exemples-boutons {
    flex-wrap: wrap;
}

.exemples-boutons .utd-btn {
    margin-right: 32px;
    margin-bottom: 32px;
}
