
/*====================================================================================================*/
/*  -00- Headers
/*====================================================================================================*/
h2 {
    margin-top: 48px;
}


h3 {
    margin-top: 32px; /*Quebec.ca = 24px, pas de sens, c'est moins que marge d'un paragraphe.*/
}

h4 {
    margin-top: 32px; /*Quebec.ca = 24px, pas de sens, c'est idem que marge d'un paragraphe.*/
}

h5 {
    margin-top: 24px; /*Quebec.ca = 16px, pas de sens, c'est moins que marge d'un paragraphe.*/
}

h6 {
    margin-top: 24px; /*Quebec.ca = 16px, pas de sens, c'est moins que marge d'un paragraphe.*/
}


/*====================================================================================================*/
/*  -02- Pied page site
/*====================================================================================================*/
utd-pied-page-site [slot="contenu"]{
    justify-content: center;
}

/*====================================================================================================*/
/*  -15- Menu principal (desktop)
/*====================================================================================================*/

.conteneur-menu-identification {
    background-color: var(--couleur-texte-base);
    color: #fff;
}


.zone-menu-identification {
    display: flex;
    min-height: 72px;
}

/*====================================================================================================
  -10- Layout
====================================================================================================*/

/* Il faut soustraire la hauteur du footer afin qu'il reste en bas de page */
.utd-conteneur-principal {
    min-height: calc(100vh - var(--hauteur-fixe-footer-desktop));
}


/*====================================================================================================
  -12- Composant "CodeSource"
====================================================================================================*/
.code-source {
    position: relative;
}

.code-source pre {
    margin-top: -16px;
    margin-bottom: -32px;
}

.code-source pre code.hljs{
    min-height: 78px;
    padding: 0 16px;
}

/* Pour raison inconnue depuis le passage à SVELTE 3.49, la ère ligne de code est toujours décalée. On patch ici... */
.code-source code > *:first-child {
    margin-left: -70px;
}


.code-source .zone-copie {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.code-source .message-copie {
    margin-left: 8px;
}

/*====================================================================================================
  -13- Page "Boutons"
====================================================================================================*/

.exemples-boutons {
    flex-wrap: wrap;
}

.exemples-boutons .utd-btn {
    margin-right: 32px;
    margin-bottom: 32px;
}


/*====================================================================================================
  -14- Page "Dialogue"
====================================================================================================*/
.utd-btn.btn-avis {
    position: fixed;
    right: 0;
    top: 200px;
    min-width: 40px;
    padding: 9px 5px 1px 5px;
    font-size: 14px;    
}
.btn-avis .texte {
    -webkit-writing-mode: vertical-lr;
    writing-mode: vertical-lr;    
    transform: rotate(180deg);    
}


/*====================================================================================================
  -14- Entête précédées d'un accordéon et accordéons
====================================================================================================*/
/* Si entête précédée d'un accordéon on augmente la marge */
utd-accordeon + h2, utd-accordeon + h3, utd-accordeon + h4, utd-accordeon + h5 {
    margin-top: 48px;
}


/*====================================================================================================
  -90- Particularités lors de l'exécution d'un test d'interface avec BackstopJs
====================================================================================================*/
.bs-test-in-progress .bs-test {
    padding: 8px;
}

.bs-test-in-progress utd-menu-vertical {
    padding: 8px;
}